@import "tailwindcss";

@theme {
  --color-primary: #A33E43;
  --color-on-background: #450C21;
  --color-on-surface: #450C21;
  --color-surface: #FBF2DA;
  --color-background: #FBF2DA;
  --color-accent-blue: #75C3D1;
  --color-accent-green: #D9FFD2;
}

*, *::before, *::after {
  border-radius: 0 !important;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;
}